body{
    background-image: url(../imagenes/colegio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    background: rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px  rgba(0,0,0,0.568);
    color: white;
}
.form-control{
    background:rgba(0,0, 0,.2);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    color: #302d2e;
}
.form-control:focus{
    background:rgba(0,0,0,.3);
    box-shadow: none;
    outline: none;
    color:white;
}
.form-control::placeholder{
    color: white;
}
.ingresar{
    background: #222a3f;
    padding: 10px;
    font-size: 16px;
    font-weight: 700 !important;
    color: white;
    box-shadow: 0 0 30px  rgba(0,0,0,0.568);
    transition: 0.5s ease-in;
}
.ingresar:hover{
    color: yellow;
}
