<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
	  <meta name="author" content="">
	  <link rel="icon" type="image/png" href="ico/favicon-32.png"/>
    <!-- Icon For iOS 2.0+ and Android 2.1+ -->
    <link rel="apple-touch-icon-precomposed" href="ico/favicon-152.png">
    <!-- Icon For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="ico/favicon-144.png">
    <title>Instalaciones</title>
      <link rel="stylesheet" href="../css/over.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/styleInstalaciones.css">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><img src="../images/logo.png" class="logo-brand" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <ion-icon name="menu-outline"> </ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://cole-sag.herokuapp.com/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">
    <h1 class="text-center text-muted">INSTALACIONES SAGESSE</h1>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4334.jpg"/>
                    <div class="mask">
                        <h2>Exterior</h2>
                        <p>Contamos acceso restringido a la institución, para salvaguardar la integridad de nuestros alumnos.</p>
                    </div>
                </div>
          <h4 class="text-center">Vista Exterior</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4349.jpg"/>
                    <div class="mask">
                        <h2>Frente</h2>
                        <p>Tratamos de que nuestra entrada principal siempre este en perfectas condiciones.</p>
                    </div>
                </div>
          <h4 class="text-center">Vista Frontal</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4362.jpg"/>
                    <div class="mask">
                        <h2>Frente</h2>
                        <p>Contamos con servicio de pintura en todas nuestras instalaciones todos los dias para ser una instición reluciente.</p>
                    </div>
                </div>
          <h4 class="text-center">Vista Frontal</h4>
        </div>
      </div>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/iMG_4932-1024x704.jpg"/>
                    <div class="mask">
                        <h2>Diversiones</h2>
                        <p>Además, contamos con área de diversiones para que nuestros estudiantes tengan un espacio de armonia y paz.</p>
                    </div>
                </div>
          <h4 class="text-center">Área de Juegos</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-55-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Diversiones</h2>
                        <p>Tu hijo tendrá espacios seguros y bonitos para divertirse y jugar en compañía de sus amigos.</p>
                    </div>
                </div>
          <h4 class="text-center">Área de juegos</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-50-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Diversiones</h2>
                        <p>Toda nuestra área de juegos esta completamente en perfectas condiciones para brindarte una mejor experiencia de juego.</p>
                    </div>
                </div>
          <h4 class="text-center">Área de juegos</h4>
        </div>
      </div>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-71-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Interior</h2>
                        <p>Dentro de las aulas tenemos material didáctico para que tu hijo se divierta mientras aprende.</p>
                    </div>
                </div>
          <h4 class="text-center">Salón de clases</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-75-684x1024.jpg"/>
                    <div class="mask">
                        <h2>Interior</h2>
                        <p>Todo nuestro material de aula esta en perfectas condiciones para que tu hijo este feliz mientras toma clases.</p>
                    </div>
                </div>
          <h4 class="text-center">Salón de clases</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/iMG_5018-1024x683.jpg"/>
                    <div class="mask">
                        <h2>Cafetería</h2>
                        <p>Contamos con una cafetería la cual ofrece comida rica y nutritiva, así como espacios limpios.</p>
                    </div>
                </div>
          <h4 class="text-center">Cafetería</h4>
        </div>



      </div>
    </div>
    
    <!-- sección de footer -->
  <div class="footer" id="contacto">
    <div class="footer-content">
      <div class="footer-section about">
        <h1><span>Colegio</span>Sagesse</h1>
        <h3>
          El Colegio SAGESSE es una comunidad de aprendizaje inclusiva que celebra la diversidad y da la
          bienvenida a familias de diferentes culturas, nacionalidades, religiones e ideologías.
          <br>
          Nuestro programa académico basado en competencias tiene como objetivo ayudar al desarrollo intelectual, 
          moral, emocional, físico y artístico de nuestros alumnos; por ello nuestra visión integral comprende tres 
          principios: enseñar, educar y formar.
        </h3>
      </div>
      <div class="footer-section about">
        <h1 style="text-align: center;"><span>Direc</span>ción</h1>
        <h3 style="text-align: center;">
          La Marquesa, Risco, Paseo de las Animas #17
          <br>
          Xalapa-Enríquez, Ver.
            C.P. 91193   
        </h3>
        <h1 style="text-align: center;"><span>Horarios</span> de atención:</h1>
        <h3 style="text-align: center;">Secundaria: 7:30 A 15:05 hrs.</h3>
      </div>
      <div class="footer-section contact-form">
        <h1 style="text-align:left;"><span>Contác</span>tanos</h1>
        <form action="" style="text-align: right;" method="POST">
          <div class="contact"style="text-align: left;">
            <h3>
              Para nosotros es muy importante su opinión.
              Estamos a sus órdenes para resolver sus dudas o bien para brindarles mas información acerca de nuestra institución.
            </h3>
            <a><img src="../images/telefono.png" width="32" height="32"></a>  (228) 8-13-63-60
            <br>
            <a><img src="../images/telefono.png" width="32" height="32"></a>  (228) 8-13-70-37
          </div>
          <div class="socials" style="text-align: left;">
            <a href="https://web.whatsapp.com/send?phone=+522281229993"><img src="../images/whatsApp.png" width="32" height="32"></a>
            <a href="https://www.facebook.com/COLEGIO-SAGESSE-412785075465374/"><img src="../images/facebook.png" width="32" height="32"></a>
            <a href="https://www.instagram.com/colegiosagesse/"><img src="../images/instagram.png" width="32" height="32"></a>
            <a href="https://twitter.com/colegiosagesse"><img src="../images/twiter.png" width="32" height="32"></a>
            <a href="https://www.youtube.com/channel/UC6d05u8hVbvbST218I5hpyA"><img src="../images/youtube.png" width="33" height="40"></a>
          </div> 
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      &copy;  Colegio Sagesse 2016. | Todos los Derechos Reservados
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>