<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
	  <meta name="author" content="">
	  <link rel="icon" type="image/png" href="ico/favicon-32.png"/>
    <!-- Icon For iOS 2.0+ and Android 2.1+ -->
    <link rel="apple-touch-icon-precomposed" href="ico/favicon-152.png">
    <!-- Icon For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="ico/favicon-144.png">
    <title>Instalaciones</title>
      <link rel="stylesheet" href="../css/over.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/styleInstalaciones.css">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand"><img src="../Proyecto Sistemas/imagenes/logo.png" class="logo-brand" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <ion-icon name="menu-outline"> </ion-icon>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#ofertaA">Oferta Académica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ubicacion">Ubicación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">
    <h1 class="text-center text-muted">INSTALACIONES SAGESSE</h1>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4334.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 1</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4349.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 2</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/IMG_4362.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 3</h4>
        </div>
      </div>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/iMG_4932-1024x704.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 4</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/iMG_5018-1024x683.jpg"/>
                    <div class="mask">
                        <h2>Cafetería</h2>
                        <p>Contamos con una cafetería la cual ofrece comida rica y nutritiva, así como espacios limpios.</p>
                    </div>
                </div>
          <h4 class="text-center">Cafetería</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-50-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Jardín de juegos</h2>
                        <p>Tu hijo tendrá espacios seguros y bonitos para divertirse y jugar en compañía de sus amigos.</p>
                    </div>
                </div>
          <h4 class="text-center">Jardín de juegos</h4>
        </div>
      </div>
      <div class="row">
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-55-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 7</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-71-1024x684.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 8</h4>
        </div>
        <!-- Hover-Fall Effect-->
        <div class="col-xs-12 col-md-4">
          <div class="fall-item fall-effect">
                    <img src="../images/SAGESSE-02-75-684x1024.jpg"/>
                    <div class="mask">
                        <h2>Hover Fall</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
          <h4 class="text-center">Imagen 9</h4>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>