body{
    /*la siguiente linea es para cambiar el color de fondo de la página, de forma degradada*/
    /*background: linear-gradient(70deg, rgb(1, 6, 255), white 40%, rgb(3, 45, 124), green );*/
    background: linear-gradient(100deg, white, rgb(3, 45, 124),rgb(35, 209, 200),rgb(42, 172, 3), white,rgb(52, 52, 179), rgb(35, 209, 200), rgb(42, 172, 3), rgb(2, 88, 2),white );
    font-family: 'Titillium Web', sans-serif;
}

h1 {font-size: 66px; font-weight: 600; line-height: 80px;}
h2 {font-size: 55px; margin-bottom: 10px;}

.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}
 /*parrafo secundaria texto*/
p {
    font-size: 24px;
    color: #080808;
    line-height: 1.8;
    margin-bottom: 0;
}

/*quitar linea que se hace en las imagenes agregadas como hipervinculo*/
a:hover{
    text-decoration: none;
}

section {
    padding: 120px 0;
}

.topmargin-sx {margin-top: 15px !important;}
.topmargin-sm {margin-top: 30px !important;}
.topmargin-lg {margin-top: 60px !important;}

.btn {
    font-size: 24px;
    padding: 15px 24px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light{
    background-color: #04faa8;
    color: #0a0a0a;
    border: 5px solid #04faa8;
    font-weight: 600; 
}

/*texto de abajo de la pagina*/
.text-dark{color: #0a0a0a; }



ion-icon {
    font-size: 24px ;
    margin-left: 5px;
}

.nav-link {color: #050505;}
.nav-link:hover {color: #1efa01;}

.logo-brand{
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler { font-size: 40px;}
.navbar-toggler:focus {outline: none;}

/*color titulo h1*/
#hero {
    background-image: url('imagenes/papeleriafondo.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #031150;
}

/*color parrafo 1 de imagen principal*/
#hero p1 {
    font-size: 30px;
    color: #031150;
}

.content-right{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: right;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

/*poner imagenes que se hacen grandes al pasar el cursor*/
.ofertaA-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

/*efecto de agrandar imagen*/
.ofertaA-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.ofertaA-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ofertaA-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

/*quitar espacio entre los textos de la imagen*/
.ofertaA-details h2{
    margin-bottom: 0px;
}

/*cambiar color de texto en la imagen*/
.ofertaA-details a h2, .ofertaA-details a p{
   color: #67b69f 
}




@media (max-width: 575.98px) {
    h1 { font-size: 40px;line-height: normal;}
}

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }